extends layout
block head-extensions
	!= css('test')

block content
	include content-grid
	.container-fluid
		.row
			.col-md-3
			.col-md-6 
				h1.landing-title TODO
			.col-md-3
		.row.landing-search
			.col-md-3
			.col-md-6
				form(role="form" name="new-task")
					form-group
						.input-group
							input.form-control(type='text' placeholder="Add a new task with a deadline" name="new-task")
							span.input-group-btn.add-duedate
								button.form-control.btn.btn-default.ion-calendar(type="button")
							span.input-group-btn.add-task
								button.btn.btn-default.ion-plus(type="submit")
			.col-md-3
		.row
			.col-md-3
			.col-md-6 
				ul#todo

			.col-md-3
