.landing-title {
	padding-top: 70px;
	text-align: center;
	font-size: 50pt;
}
.landing-search {
	padding-bottom: 20px;
}

.landing-update {
	padding-bottom: 20px;
}
.signup {
	float: right;
}

.ion-plus, .ion-calendar {
	font-size: 13pt;
}


